
<div class="container">
    <img class="desen" src="/assets/img/desen.png" alt="">



<div class="container" id="firstrow">
  <div class="row">
    <div class="col-4">
     <div class="prd-main-wrapper">
      <div></div>
      <div class="prd-content">
        <div class="prd-card-wrapper">
          <div class="boxes d-flex">
            <img class="me-2" src="/assets/img/promotion.png" alt="" width="20px" height="20px">
          <h4>Duyurular</h4>
          </div>
          <div class="prd-infos" *ngFor="let item of announcementList" >
           <!--  <h5 class="card-title mb-2">{{item.organization}}</h5> -->
           <h6 class="card-subtitle mb-2 ">{{item.title}}</h6>
           <p class="card-text"> <marquee behavior="scroll" direction="right">{{item.description}}</marquee></p>
          
          </div>

        </div>

      </div>

     </div>
   
    </div>
    <div class="col-4">
      <div class="gallery">
        <img class="libs" routerLink="/getBooksForMembers" src="/assets/img/booksunsihe.png" alt="">
        <img class="libs" src="/assets/img/libraryold.png" alt="">
        <img class="libs" src="/assets/img/reading.png" alt="">
        <img class="libs" src="/assets/img/studying.png" alt="">
      </div>
    </div>
    
    <div class="col-4">

     
      <div class="prd-main-wrapper">
        <div></div>
        <div class="prd-content">
          <div class="prd-card-wrapper">
            <div class="boxes d-flex">
              <img class="me-2" src="/assets/img/hyperlink.png" alt="" width="20px" height="20px">
            <h4>Bağlantılar</h4>
            </div>
            <div class="prd-infos" *ngFor="let item of announcementList" >
              <!--  <h5 class="card-title mb-2">{{item.organization}}</h5> -->
              <h6 class="card-subtitle mb-2 ">{{item.title}}</h6>
              <p class="card-text"> <marquee behavior="scroll" direction="right">{{item.description}}</marquee></p>
             
             </div>
            
  
          </div>
  
        </div>
  
       </div>

      
    </div>
 </div>
 </div>
</div>


 <app-footer></app-footer>




