/* Kart stilini ayarla */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: aquamarine;
  }
  
  /* Kart başlığı stilini ayarla */
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Kart alt başlık stilini ayarla */
  .card-subtitle {
    font-size: 0.9rem;
    color: #6c757d; /* Gri tonunda */
  }
  
  /* Kart içeriği stilini ayarla */
  .card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  /* Ödünç al butonu stilini ayarla */
  .btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
  }
  